body{background:#fff;margin:0;text-align:center}#clock{font-family:Helvetica, Arial, sans-serif;font-weight:bold;letter-spacing:-0.2em;position:relative;margin:50px auto;width:500px}#clock .hours{color:#000}#clock .minutes{color:#444}#clock .seconds{color:#888;font-size:40px}

